<body>
    <div class="intro">
        <div class="users-page">
        <h1>Users list</h1>


    <h2>Users</h2>

    <table id="users_table">
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.login}}</td>
        </tr>
        {{/each}}
    </table>
    <div>
        <button type="submit"> <a href="/signUp">Create user</a></button>
    </div>
        </div>
    </div>
</body>