<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/signUp.css">
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <div class = container>
        <hr>

        <label for="username"><b>Username</b></label>
        <input required type="text" th:field="*{username}" id="username" placeholder="User name">

        <label for="firstName"><b>First name</b></label>
        <input required type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">

        <label for="lastName"><b>Last name</b></label>
        <input required type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">

        <label for="email"><b>Email</b></label>
        <input required type="email" th:field="*{email}" id="email" placeholder="Email">

        <hr>
        <button type="submit" class="w3-btn w3-green w3-round-large w3-margin">Update user</button>
    </div>
</form>
</body>
</html>